:root{
    
    --bulma-link-h: 229;
    --bulma-link-s: 53%;
    --bulma-link-l: 53%;
}
.navbar-burger span {
    background-color: white;
}
/*#homeButton {*/
/*    color: white;*/
/*}*/
/*#docsButton{*/
/*    color: white;*/
/*}*/
 #docsDropDown .navbar-item{
     color: rgba(0,0,0, 65%);
 }
 #docsDropDown .navbar-item:hover{
     color: rgba(0,0,0, 100%);
     background-color: rgba(0,0,0, 5%);
 }
 #docsDropDown hr{
     background-color: rgba(0,0,0, 5%);
 }
 /*#downloadIcon{*/
 /*    color: white;*/
 /*}*/
 /*#downloadText{*/
 /*    color: white;*/
 /*}*/
 #homeButton, #docsButton, #downloadIcon, #downloadText{
     color: white;
 }
 a.navbar-item.is-selected{
     color: white !important;
 }
 
 #tweetWord{
    font-weight: 400;
 }

 #tocWord{
    font-weight: 500;
 }

 #panelblockWords{
    font-size: 16px;      /* Shrinks text from 16px to approx 13.6px */
    padding-top: 0em;     /* Reduces top padding */
    padding-bottom: 0em;  /* Reduces bottom padding */
    line-height: 1.25;
    font-family: "system-ui";
 }

 .panelBlockWords{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
 }

 .message-header{
    color: white;
 }
