:root{
    --bulma-primary-h: 52deg;
    --bulma-primary-s: 93.75%;
    --bulma-primary-l: 93.73%
}

body{
    background: linear-gradient(to bottom,rgba(96, 108, 56, 1) 0%, rgba(82, 95, 48, 1) 50%, rgba(68, 81, 40, 1) 100%) !important;  
    /* background-color: black; */
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Noto Serif", serif;
}
.navbar-burger span {
    background-color: #DDA15E;
}

.section{
    flex: 1;
}

.footer{
    background: linear-gradient(to bottom,rgba(54, 68, 32, 1) 0%, rgba(47, 61, 28, 1) 50%, rgba(40, 54, 24, 1) 100%);
    border-top: 1.5px solid #fefae0;
    border-bottom: 1.5px solid #fefae0;
    padding: 2rem 1.5rem;
}

#brandFooter{
    color: hsl(52deg, 93.75%, 93.73%)
}

h4.bd-footer-title{
    color:#DDA15E
}

#footerColumn1,#footerColumn2,#footerColumn3 li a {
    font-size: 0.85rem;
}

#footerColumn1 a:hover,
#footerColumn2 a:hover{
    text-decoration: underline;
}

.footer a:hover .footer-link-text{
    text-decoration: underline;
    text-underline-offset: 2px;
}

#welcomeTitle{
    color:hsl(52deg, 93.75%, 93.73%);
}

#enterEmailPrompt{
    color: hsl(52deg, 93.75%, 93.73%);
}

.hero .box {
    background-color: #BC6C25;
    border: 1px solid #DDA15E;
}

.hero .box .button {
    background-color: #fefae0;
    color: #283618;
    border-color: #fefae0;
}

.hero .input {
    background-color: #fefae0;
    color: #283618;
    border-color: #DDA15E;
}

.hero .input::placeholder {
    color: black;
    font-weight: light;
}

#forestHeroBackground{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2641');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#glassyBox{
    background-color: rgba(40, 54, 24, 0.6); 
    padding: 3rem; 
    border-radius: 25px; 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

#fourLogoInfo{
    border-top: 1.5px solid #fefae0;
    border-bottom: 1.5px solid #fefae0;
    /* background: #162B19; */
    /* background: linear-gradient(to bottom, rgba(22, 43, 25, 1) 10%, rgba(14, 43, 23, 1) 30%, rgba(7, 24, 15, 1) 60%, rgba(2, 11, 5, 1) 100%); */
    padding: 3rem 0;
}

.blobParagraph{
    color:#fefae0;
}

#backgroundForTwoSections{
    background: linear-gradient(to bottom, rgba(22, 43, 25, 1) 10%, rgba(14, 43, 23, 1) 30%, rgba(7, 24, 15, 1) 60%, rgba(2, 11, 5, 1) 100%);
    padding: 0;
    margin: 0;
    width: 100vw;
}
/* --- Testimonial Section --- */
#testimonial {
    /* background: linear-gradient(to top, rgba(22, 43, 25, 1) 10%, rgba(14, 43, 23, 1) 30%, rgba(7, 24, 15, 1) 60%, rgba(2, 11, 5, 1) 100%); */
    color:hsl(52deg, 93.75%, 93.73%);
    padding: 60px 0;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-weight: 700;
    border: solid #fefae0;
    border-radius: 25px;
    padding: 10px 50px;
    background-color: #DDA15E;
    display: inline-block;
    
}

/* The Grid Layout */
.testimonial-grid {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    flex-wrap: wrap; 
}

/* Individual Card Style */
.testimonial-card {
    background-color: #BC6C25; 
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 40px 30px;
    position: relative; 
    flex: 1 1 300px; 
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
    border: 3px solid #ffffff;
    margin-bottom: 25px;
    background-color: #cc5544; 
}


.testimonial-card blockquote {
    font-size: 1.1rem;
    line-height: 1.6;
    font-style: italic;
    margin: 0 0 20px 0;
}

.member-name {
    font-weight: bold;
    margin: 20;
}


.quote-icon {
    position: absolute;
    font-size: 5rem;
    line-height: 1;
    color: hsl(52deg, 93.75%, 93.73%);
    padding: 0 10px;
}

.top-quote {
    top: 125px; 
    left: 1px;
}

.bottom-quote {
    bottom: 20px; 
    right: 20px;
}