:root{
    --bulma-primary-h: 52deg;
    --bulma-primary-s: 93.75%;
    --bulma-primary-l: 93.73%
}
body{
    background: linear-gradient(to bottom,rgba(96, 108, 56, 1) 0%, rgba(82, 95, 48, 1) 50%, rgba(68, 81, 40, 1) 100%) !important;  
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.navbar-burger span {
    background-color: #DDA15E;
}

.section{
    flex: 1;
}

.footer{
    background: linear-gradient(to bottom,rgba(54, 68, 32, 1) 0%, rgba(47, 61, 28, 1) 50%, rgba(40, 54, 24, 1) 100%);
    border-top: 1.5px solid #fefae0;
    border-bottom: 1.5px solid #fefae0;
}

#brandFooter{
    color: hsl(52deg, 93.75%, 93.73%)
}

h4.bd-footer-title{
    color:#DDA15E
}

#footerColumn1,#footerColumn2,#footerColumn3 li a {
    font-size: 0.85rem;
}

#footerColumn1 a:hover,
#footerColumn2 a:hover{
    text-decoration: underline;
}

.footer a:hover .footer-link-text{
    text-decoration: underline;
    text-underline-offset: 2px;
}

#welcomeTitle{
    color:hsl(52deg, 93.75%, 93.73%);
}

#enterEmailPrompt{
    color: hsl(52deg, 93.75%, 93.73%);
}

.hero .box {
    background-color: #BC6C25;
    border: 1px solid #DDA15E;
}

.hero .box .button {
    background-color: #fefae0;
    color: #283618;
    border-color: #fefae0;
}

.hero .input {
    background-color: #fefae0;
    color: #283618;
    border-color: #DDA15E;
}

.hero .input::placeholder {
    color: black;
    font-weight: light;
}

#forestHeroBackground{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2641');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#glassyBox{
    background-color: rgba(40, 54, 24, 0.6); 
    padding: 3rem; 
    border-radius: 25px; 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}